#//OpenDF :: An open source implementation of DFramework.]
#//	(C)2018 OpenDF Project
#//
#//	Read LICENSE file for licenses and copyrights information before using this file.
#//

# Files generated when building
*_Generated.*

# Extra files
*.exe
*.dll
*.lib
*.res
*.obj
*.pdb
*.exp
*.db
/Src/TEMP

# Environment dependent files
/Private
/Git.cmd

